In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("MOD_DATA.csv")

In [5]:
df

                  id  modelo      color          marca
0  1C4PJLAB5EW037286    2001      Green          Dodge
1  WAU4FAFR2DA100139    1999     Indigo          Dodge
2  1G6DF8E5XD0539625    2010     Violet         Toyota
3  1N6AA0CJ2FN799519    1999       Mauv       Plymouth
4  1GYS4KEF8DR451419    2010       Puce          Lexus
5  WAUBH78EX8A730057    1993       Blue  Mercedes-Benz
6  WBAYB6C58FD628233    1984       Blue       Maserati
7  1FTEW1CWXAK810636    1996     Indigo        Pontiac
8  WAUEFAFL5CN254707    2007  Goldenrod          Mazda
9  1C3CCBAB8DN062422    1991      Khaki        Pontiac

In [6]:
df.shape

(10, 4)

In [11]:
rows, columns = df.shape

In [12]:
columns

4

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     object
 1   modelo  10 non-null     int64
 2   color   10 non-null     object
 3   marca   10 non-null     object
dtypes: int64(1), object(3)
memory usage: 448.0+ bytes

In [14]:
df.values

array([['1C4PJLAB5EW037286', 2001, 'Green', 'Dodge'],
       ['WAU4FAFR2DA100139', 1999, 'Indigo', 'Dodge'],
       ['1G6DF8E5XD0539625', 2010, 'Violet', 'Toyota'],
       ['1N6AA0CJ2FN799519', 1999, 'Mauv', 'Plymouth'],
       ['1GYS4KEF8DR451419', 2010, 'Puce', 'Lexus'],
       ['WAUBH78EX8A730057', 1993, 'Blue', 'Mercedes-Benz'],
       ['WBAYB6C58FD628233', 1984, 'Blue', 'Maserati'],
       ['1FTEW1CWXAK810636', 1996, 'Indigo', 'Pontiac'],
       ['WAUEFAFL5CN254707', 2007, 'Goldenrod', 'Mazda'],
       ['1C3CCBAB8DN062422', 1991, 'Khaki', 'Pontiac']], dtype=object)

In [15]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [17]:
df["marca"]

0            Dodge
1            Dodge
2           Toyota
3         Plymouth
4            Lexus
5    Mercedes-Benz
6         Maserati
7          Pontiac
8            Mazda
9          Pontiac
Name: marca, dtype: object

In [18]:
df["modelo"]>1999

0     True
1    False
2     True
3    False
4     True
5    False
6    False
7    False
8     True
9    False
Name: modelo, dtype: bool

In [19]:
df[df["modelo"]>1999]

                  id  modelo      color   marca
0  1C4PJLAB5EW037286    2001      Green   Dodge
2  1G6DF8E5XD0539625    2010     Violet  Toyota
4  1GYS4KEF8DR451419    2010       Puce   Lexus
8  WAUEFAFL5CN254707    2007  Goldenrod   Mazda